{% extends "layout.html" %}

{% block header %}
<div class="navig-wrapper">
    <div id="menu-bar">
        <a id="logo-wrapper" href="{{ app_url }}"><img alt="CNK logo" src="{{ web_root }}img/logo_cnk.png" class="over-img" id="logo-image"></a>
        <div id="main-menu-mount"></div>
    </div>
</div>
{% endblock %}

{% block contents %}
<h2>:-(</h2>
<div class="messages">
    <h3 class="lang">[en]</h3>
    <p class="message">Application server is temporarily unreachable.</p>
    <p class="note">Please wait a minute and reload the page.</p>
    <h3 class="lang">[cs]</h3>
    <p class="message">Aplikační server je dočasně nedostupný.</p>
    <p class="note">Počkejte prosím chvíli a načtěte znovu stránku.</p>
</div>
{% endblock %}